/STM32-H757BIT6-Breakout-backups
/STM32-H757BIT6-Breakout.csv
/STM32-H757BIT6-Breakout.kicad_sch-bak
/footprints.pretty
/fp-info-cache
/fp-lib-table
/gerber
/gerber.zip
/sym-lib-table
/symbols
/~STM32-H757BIT6-Breakout.kicad_pcb.lck
/~STM32-H757BIT6-Breakout.kicad_sch.lck